@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.card {
  &.iPad-Pro {
    background: url("../products/ipad_pro.jpeg") center top / cover no-repeat;

    @media (min-resolution: 192dpi) {
      background: url("../products/ipad_pro_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      background: url("../products/ipad_pro_wide.jpeg") center top / cover
        no-repeat;

      @media (min-resolution: 192dpi) {
        background: url("../products/ipad_pro_wide_2x.jpeg") center top / cover
          no-repeat;
      }
      br {
        display: none;
      }
    }
  }

  &.iPad-air {
    background: url("../products/ipad_air.jpeg") center top / cover no-repeat;

    @media (min-resolution: 192dpi) {
      background: url("../products/ipad_air_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      background: url("../products/ipad_air_wide.jpeg") center top / cover
        no-repeat;

      @media (min-resolution: 192dpi) {
        background: url("../products/ipad_air_wide_2x.jpeg") center top / cover
          no-repeat;
      }
      br {
        display: none;
      }
    }
  }

  &.iPhone-15-Pro {
    background: url("../products/iphone15_pro.jpeg") center top / cover
      no-repeat;
    @media (min-resolution: 192dpi) {
      background: url("../products/iphone15_pro_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      background: url("../products/iphone15_pro_wide.jpeg") center top / cover
        no-repeat;
      @media (min-resolution: 192dpi) {
        background: url("../products/iphone15_pro_wide_2x.jpeg") center top /
          cover no-repeat;
      }
      br {
        display: none;
      }
    }
  }

  &.iPhone-15 {
    background: url("../products/iphone15.jpeg") center top / cover no-repeat;
    @media (min-resolution: 192dpi) {
      background: url("../products/iphone15_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      br {
        display: none;
      }
    }
  }

  &.WATCH {
    background: url("../products/apple_watch.jpeg") center top / cover no-repeat;
    @media (min-resolution: 192dpi) {
      background: url("../products/apple_watch_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      br {
        display: none;
      }
    }
  }

  &.MacBook-Air {
    background: url("../products/macbook_air.jpeg") center top / cover no-repeat;

    @media (min-resolution: 192dpi) {
      background: url("../products/macbook_air_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      br {
        display: none;
      }
    }
  }

  &.airPods-Pro {
    background: url("../products/airpods_pro.jpeg") center top / cover no-repeat;
    @media (min-resolution: 192dpi) {
      background: url("../products/airpods_pro_2x.jpeg") center top / cover
        no-repeat;
    }

    @media (min-width: 64rem) {
      br {
        display: none;
      }
    }
  }

  block-size: var(--size);
  inline-size: 100%;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--small-spacing);

  .product-name,
  .product-info,
  .product-date {
    color: var(--white);
    text-align: center;
  }

  /* 카드 제목 */
  .product-name {
    font-size: var(--large-text);
    margin-block-start: var(--large-spacing);
    font-weight: bold;

    @media (min-width: 64rem) {
      font-size: var(--extra-large-text);
      margin-block-start: var(--extra-large-spacing);
    }
  }

  /* 부제목 */
  .product-info {
    font-size: var(--base-text);
    line-height: var(--line-normal);

    @media (min-width: 64rem) {
      font-size: var(--medium-text);
      line-height: 1.15;
    }
  }

  /* 출시일 추후 공개 */
  .product-date {
    font-size: var(--small-text);
    color: var(--gray);
  }

  /* 버튼 */
  .btn-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--base-spacing);
    justify-content: center;
  }

  .btn {
    padding-block: var(--x-small-spacing);
    padding-inline: var(--small-spacing);
    border-radius: 25px;
    font-size: var(--xx-small-text);

    @media (min-width: 64rem) {
      font-size: var(--x-small-text);
    }

    &.more {
      background-color: var(--blue-100);
      color: var(--white);
      border: none;
      margin-right: var(--x-small-spacing);
    }

    &.price {
      background-color: transparent;
      color: var(--blue-100);
      border: 1px solid var(--blue-100);
    }
  }

  &:nth-child(even) h2,
  &:nth-child(even) p {
    color: var(--black);
  }

  &:nth-child(even) .btn-wrapper {
    .more {
      background-color: var(--black);
      color: var(--white);
    }

    .price {
      color: var(--black);
      border: 1px solid var(--black);
    }
  }
}
